doctype html
html(lang="en")
  head
    title Ubungsraüm
    script(src="/js/socket.io.js")
    script(src="/js/ubungsraum.js")
  body
    h1 Ubungsraüm
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Personal Exercise Room
