doctype html
html(lang="en")
  head
    title Ubungsraüm
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/socket.io.js")
    script(src="/js/ubungsraum.js")
  body
    #container
      h1 Ubungsraüm
      #main-content
        block content
      #sidebar
        block sidebar
      footer
        p (Personal Exercise Room)
